
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display{
    display: flex;
}
.primary-btn{
    background-color: cadetblue;
    color: aliceblue;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid blueviolet;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header style */

.background{
    background-color:rgba(255, 144, 14, 0.1);
}

/* nav bar style */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.link{
    text-decoration: none;
    font-weight: 500;
}
.items{
    list-style: none;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related content */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.title{
    font-size: 3rem;
    font-weight: 700;
}

/* team and feature related style */

.features{
    align-items: center;
}
.team-img{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
    margin-top: 130px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.p1{
    color: gray;
    font-size: 3rem;
    font-weight: 500;
}
.p2{
    color: black;
    font-size: 3rem;
    font-weight: 500;
}
.p3{
    color: orange;
    font-size: 3rem;
    font-weight: 500;
}
/* cute apu section */

.feature-description{
    font-size: 1.10rem;
    color: rgba(33, 33, 158, 0.681);
    margin-top: 30px;
    max-width: 588px;
    max-height: 78px;
    margin-bottom: 30px;
}
.enjoy{
    font-size: 2rem;
    color: gray;
    font-weight: 700;
    gap: 100px;
}

.version{
    padding: 30px;
    box-shadow: 0 2px 10px 0 teal;
    color: black;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.details{
    font-size: 1.25rem;
    color: rgba(33, 33, 158, 0.681) ;
    margin-top: 10px;
}
.cute{
    margin-top: 110px;
    max-width: 800;
    height: 1059;
}
#badge{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    border:1px solid blueviolet;
    background-color: rgba(0, 128, 128, 0.816);
    border-radius: 8px;
    color: white;
    margin-left: -50px;
    margin-top: -80px;
}
#year{
    font-size: 4rem;
    font-size: 700;
    color: white;
}
/* facts card */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    border: 1px solid salmon;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.number{
    font-size: 2rem;
    font-weight: 600;
    margin-top:5px;
    margin-bottom: 10px;
}
.name{
   font-size: 1.25rem;
   margin-top: 10px;
   color: black; 
}
.feature-description{
    max-width: 542px;
    height: 52px;
}

/* sponsor related style */

.sponsor-info{
    max-width: 540px;
    margin: 24px auto;
    text-align: center;
}

.sponsor-title{
    font-size: 2rem;
    margin-top: 180px;
    margin-bottom: 24px;
}

.text{
    font-size: 1.25rem;
    color: rgba(33, 33, 158, 0.681);
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
}

.spn{
    margin-top: 50px;
    margin-bottom: 50px;
}

.sponsor-company img{
    filter: grayscale(100%);
}

/* footer related style */

/* footer 
{
    margin-top: 130px;
    padding: 130px 0;
    background:rgb(223, 204, 179);
    max-width: 1440;
    height: 400;
}*/
.footer-container{
    margin-top: 130px;
    padding: 130px 0;
}
footer .footer-container
{
    width: 71%;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container h2{
    color:rgba(0, 128, 128, 0.948);
    font-size: 50px;
    margin-bottom: 20px;
}

.footer-container .social
{
    max-width: 510px;

}

.footer-container .social p{
    color: #474747;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"]{
    width: 460px;
    padding: 18px 31px;
    margin-bottom: 24px;
    font-size: 18px;
    border: 2px solid rgb(0, 107, 183);
    border-radius: 10px;
    color: rgb(255, 0, 0);
}
.footer-container form textarea{
    width: 460px;
    padding: 18px 31px;
    margin-bottom: 24px;
    font-size: 18px;
    border: 2px solid rgb(0, 107, 183);
    border-radius: 10px;
    /* color: rgb(0, 0, 0); */
}

/* responsiebe design for small */

.banner-img
{
    width: 100%;
}

@media  screen and (max-width:576px) {
    .features,
    .feature-title,
    .details
    {
       flex-direction: column; 
    }
    .team-img, 
    .facts-container,
    .sponsor-company
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 40px;
    }
    .facts-container, 
    .sponsor-company
    {
        justify-items: center;
        gap: 24px;
    }
}

/* responsive design for medium size device */

@media screen and (min-width:576px) and (max-width:992px) {
    .features{
        flex-direction: column;
    }
}